@font-face {
  font-family: "iconfont"; /* Project id 2849451 */

  src: url('//at.alicdn.com/t/font_2849451_y80n06udxl.woff2?t=1634372159625') format('woff2'),
  url('//at.alicdn.com/t/font_2849451_y80n06udxl.woff?t=1634372159625') format('woff'),
  url('//at.alicdn.com/t/font_2849451_y80n06udxl.ttf?t=1634372159625') format('truetype');
  src: url('iconfont.woff2?t=1635772933871') format('woff2'),
  url('iconfont.woff?t=1635772933871') format('woff'),
  url('iconfont.ttf?t=1635772933871') format('truetype');
}

[class^="icon-third"], [class*="icon-third"]/*这里有空格*/

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-third-circle-company:before {
  content: "\e71e";
}

.icon-third-down-arrow:before {
  content: "\eb6d";
}

.icon-third-up-arrow:before {
  content: "\eb6e";
}

.icon-third-customer-relationship:before {
  content: "\e626";
}

.icon-third-add:before {
  content: "\e726";
}

.icon-third-ditu-yuan-copy:before {
  content: "\ec45";
}

.icon-third-ditu-yuan-copy1:before {
  content: "\ec46";
}

.icon-third-filter:before {
  content: "\e621";
}

.icon-third-mul-choice:before {
  content: "\e873";
}

.icon-third-userInfo:before {
  content: "\e60f";
}

.icon-third-order:before {
  content: "\e604";
}

.icon-third-customer:before {
  content: "\e645";
}

.icon-third-share:before {
  content: "\e63c";
}

.icon-third-product:before {
  content: "\e71a";
}

.icon-third-fenxiao:before {
  content: "\e76c";
}

.icon-third-biz:before {
  content: "\e60e";
}

.icon-third-clue:before {
  content: "\e6c7";
}

.icon-third-com:before {
  content: "\e6ac";
}

.icon-third-person:before {
  content: "\e64d";
}

.icon-third-relationship:before {
  content: "\e727";
}

.icon-third-potential:before {
  content: "\e744";
}

.icon-third-company:before {
  content: "\e625";
}

.icon-third-application:before {
  content: "\e64b";
}

.icon-third-home:before {
  content: "\e6f9";
}

.icon-third-kehu:before {
  content: "\e601";
}

